<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/docs.css -->
		<link rel="stylesheet" href="assets/css/docs.css">
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="../styles/main.css">
		<!-- endbuild -->
	</head>
	<body ng-app="ncAngularApp">
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<!-- Add your site or application content here -->
		<div class="off-canvas-wrap" data-offcanvas="">
			<div class="inner-wrap">
				<nav class="tab-bar">
					<section class="left-small">
						<a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
					</section>

					<section class="middle tab-bar-section">
						<h1 class="title">Foundation</h1>
					</section>

				</nav>

				<aside class="left-off-canvas-menu">
					{{> navigation}}
				</aside>

				<section class="main-section">
					<h1 id="{{title}}">{{title}}</h1>
					{{#markdown}}
					{{> body}}
					{{/markdown}}
				</section>

				<a class="exit-off-canvas"></a>

			</div>
		</div>

		<!-- build:js(.) scripts/oldieshim.js -->
		<!--[if lt IE 9]>
		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/json3/lib/json3.min.js"></script>
		<![endif]-->
		<!-- endbuild -->

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/docs.js -->
        <script src="../config/app.js"></script>
        <script src="../config/config.js"></script>
        <script src="../config/enviroment.js"></script>
        <script src="../common/core/exception/exception.module.js"></script>
        <script src="../common/core/exception/exception.provider.js"></script>
        <script src="../common/core/exception/exception.factory.js"></script>
        <script src="../common/core/logger/logger.module.js"></script>
        <script src="../common/core/logger/logger.factory.js"></script>
        <script src="../modules/index/index.module.js"></script>
        <script src="../modules/index/index.route.js"></script>
        <script src="../modules/index/index.controller.js"></script>
        <script src="../modules/directive/directive.module.js"></script>
        <script src="../modules/directive/directive.route.js"></script>
        <script src="../modules/directive/directive.controller.js"></script>
        <script src="../modules/directive/directive.provider.js"></script>
        <script src="../modules/directive/directive.factory.js"></script>
        <script src="../modules/directive/directivelifo.factory.js"></script>
        <script src="../modules/directive/directivestack.factory.js"></script>
        <script src="../modules/directive/directive-container.directive.js"></script>
        <script src="../modules/directive/directive-transcluder.directive.js"></script>
        <script src="../modules/directive/lifo.factory.js"></script>
        <script src="../modules/directive/events.factory.js"></script>
        <script src="../modules/backdrop/backdrop.directive.js"></script>
        <!-- endbuild -->
</body>
</html>
