body, html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.directive {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-top: -150px;
	margin-left: -150px;

	&:nth-child(odd) {
		background: tomato;
	}
	&:nth-child(even) {
		background: #ffffff;
	}
}

