<div class="debug-tools">
	<button class="small" ng-click="index.click($event)" style="position: fixed; top: 0; right: 0;">
		Open a modal
	</button>
	<button class="success small" ng-click="index.closeFromOutside()">Luk udefra!</button>
	<button class="alert small" ng-click="index.dismissFromOutside()">Dismiss udefra!</button>
</div>

<ul>
	<li>
		Accessibility
	</li>
	<li>
		Conform with native vendor solutions
	</li>
	<li>
		Nested animations
	</li>
	<li>
		Close on backdrop click option
	</li>
	<li>
		Broadcasting / Event emitting
	</li>
	<li>
		Shit der er jquery
	</li>
</ul>
